<!-- Fixed corner stamp (client feedback 28 Sep 2026): the ring text spins, the centre stays still. -->
  <a href="booking.html" class="site-stamp" aria-label="Luxembourg Lotus, Tribe Gathering 2027" data-ring-light="../assets/brand/lux-lotus/lux-lotus-stamp-yellow-navy-ring.svg" data-ring-dark="../assets/brand/lux-lotus/lux-lotus-stamp-navy-yellow-ring.svg">
    <img src="../assets/brand/lux-lotus/lux-lotus-stamp-yellow-navy-centre.svg" alt="" class="site-stamp_centre">
    <img src="../assets/brand/lux-lotus/lux-lotus-stamp-yellow-navy-ring.svg" alt="" class="site-stamp_ring">
  </a>
